<!DOCTYPE html>
<html lang="zxx" class="no-js">
    
    <head>
        <!-- Mobile Specific Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Favicon-->
        <link rel="shortcut icon" href="img/fav.png">
        <!-- Author Meta -->
        <meta name="author" content="codepixer">
        <!-- Meta Description -->
        <meta name="description" content="">
        <!-- Meta Keyword -->
        <meta name="keywords" content="">
        <!-- meta character set -->
        <meta charset="UTF-8">
        <!-- Site Title -->
        <title>WEB私密笔记</title>
        <!-- ZUI 标准版压缩后的 CSS 文件 -->
        <link rel="stylesheet" href="zui/css/zui.min.css">
        <!-- ZUI Javascript 依赖 jQuery -->
        <script src="zui/lib/jquery/jquery.js"></script>
        <!-- ZUI 标准版压缩后的 JavaScript 文件 -->
        <script src="zui/js/zui.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="../dist/xxtea.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="zui/lib/chart/zui.chart.min.js"></script>
        <link href="zui/lib/bootbox/bootbox.min.css" rel="stylesheet">
        <script src="zui/lib/bootbox/bootbox.min.js"></script>
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/animate.min.css">
    </head>
    
    <body>
        <!--Header-->
        <nav class="navbar " role="navigation">
            <div class="container-fluid">
                <!-- 导航头部 -->
                <div class="navbar-header">
                    <!-- 移动设备上的导航切换按钮 -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-example"> <span class="sr-only">切换导航</span>
 <span class="icon-bar"></span>
 <span class="icon-bar"></span>
 <span class="icon-bar"></span>

                    </button>
                    <!-- 品牌名称或logo --> <a class="navbar-brand">LCF私密笔记</a>

                </div>
                <!-- 导航项目 -->
                <div class="collapse navbar-collapse navbar-collapse-example">
                    <!-- 一般导航项目 -->
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#" data-toggle="modal" data-target="#takepwd">取回</a>

                        </li>
                        <li><a href="#" data-toggle="modal" data-target="#custom-pop">存入</a>

                        </li>
                        <li id="searchboxx">
                            <div class="input-group" style="width:250px;margin-top:5px">
                                <!--搜索框需要在取回笔记以后滑入显示-->
                                <div class="input-control search-box search-box-circle has-icon-left has-icon-right search-example" id="searchboxExample">
                                    <input id="inputSearchExample3" type="search" class="form-control search-input" placeholder="搜索">
                                    <label for="inputSearchExample3" class="input-control-icon-left search-icon"><i class="icon icon-search"></i>

                                    </label>
                                </div> <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button">搜索</button>
                                  </span>

                            </div>
                        </li>
                    </ul>
                </div>
                <!-- END .navbar-collapse -->
            </div>
        </nav>
        <!--End Header-->
        <div class="sample-text-area" style="margin-left:100px;margin-right:100px;opacity: 0.9;padding-left:10px;padding-right:10px" id="banner">
            <div class="row">
                <div class="col-md-9"> <i class="ti-crown"></i>

                     <h4>系统运行状况</h4>

                    <br>
                    <p>本系统已有 {{ number }}人使用,欢迎加入!</p>
                </div>
                <div class="col-md-3">
                    <a href="https://www.coolapk.com/apk/217528">
                        <img src="ser.png" class="img-rounded" style="width:100px;" alt="圆角图片" />
                    </a>
                </div>
            </div>
        </div>
        <hr>
        <div class="container" id="defaultPage" style="position:relative;">
            <div class="alert alert-info-inverse with-icon " style="background:rgba(3,184,207,0.5)"> <i class="icon-info-sign">
                </i>

                <div class="content">看起来你还没有打开笔记本呢， <a class="alert-link" href="###" data-toggle="modal" data-target="#takepwd">点此尝试一下吧！</a>

                </div>
            </div>
        </div>
        <div class="container" id="content" style="display:none;opacity: 0.9;">
            <div class="col-xs-12">
                <div class="feature-item">
                    <div class="row " id="items">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-8">
                                     <h4>笔记列表</h4>

                                </div>
                                <div class="col-md-2"> 

                                </div>
                                <div class="col-md-2"> <a href="#" class="genric-btn primary circle arrow" data-toggle="modal" data-target="#custom-add_2" @click="adds">添加<span class="lnr lnr-arrow-right"></span></a>

                                </div>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <ul class="nav nav-tabs nav-stacked">
                                <li v-for="item,index in items"> <a href="###" data-toggle="tab" v-bind:data-target="'#'+item.id" class="active">
                                            {{ item.title }}
                                        </a>

                                </li>
                            </ul>
                        </div>
                        <div class="col-xs-10">
                            <div class="tab-content col-xs-9">
                                <div v-for="item in items" class="tab-pane fade" v-bind:id="item.id">
                                   <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-xs-9">
                                            <div>{{ item.content }}</div>
                                        </div>
                                        <div class="col-xs-3">
                                             
                                             <div class="row">
                                                 <a  class="genric-btn primary small"  data-toggle="modal" data-target="#custom-edit" @click="pEdit(item.id)">编辑<span class="lnr lnr-arrow-right"></span></a>
                                             </div>
                                             <hr>
                                             <div class="row">
                                                 <a  class="genric-btn danger small"  data-toggle="modal" data-target="#winDel" @click="pDel(item.id)">删除<span class="lnr lnr-arrow-right"></span></a>
                                             </div>
                                        </div>    
                                        
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--对话框开始-->
        <div class="modal fade" id="winDel">
          <div class="modal-dialog modal-sm">
            <div class="modal-header">
                删除
            </div>
            <div class="modal-content">
                
                <div class="content">
                    <p>确定删除 《{{ title }}》吗?</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" @click="btnDel(id)" data-dismiss="modal">删除</button>
            </div>
          </div>
        </div>
        <!-- 对话框HTML -->
        <div class="modal fade" id="custom-pop">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">关闭</span>

                        </button>
                         <h4 class="modal-title">导入密码本</h4>

                    </div>
                    <div class="modal-body">
                        <div class="modal-content">
                            <textarea id="areaTEXT" class="form-control" rows="10" placeholder="可以输入多行文本" v-model="content"></textarea>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="input-control has-icon-left">
                                    <input type="text" class="form-control" placeholder="用户名" v-model="str">
                                    <label for="inputAccountExample1" class="input-control-icon-left"><i class="icon icon-user "></i>
                                    </label>
                                </div>
                            </div>
                            <div class="col-xs-5">
                                <div class="input-control has-icon-right">
                                    <input type="password" class="form-control" placeholder="密码，此处密码要和手机版私密笔记中设定的密码一致才能成功解密" v-model="pwd">
                                    <label for="inputPasswordExample1" class="input-control-icon-right"><i class="icon icon-key"></i>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="state" style="padding:10px;">
                        <div id="state1"></div>
                        <!--显示用密码将用户名加密后的密文作为文件名的状态-->
                        <div id="state2"></div>
                        <!--显示文件名是否存在-->
                        <div id="state3"></div>
                        <!--显示写入状态-->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" v-on:click="clean">关闭</button>
                        <button class="btn btn-success " type="button" v-on:click="btnSubmitAndCheck">提交/覆盖</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 对话框2HTML -->
        <div class="modal fade" id="takepwd">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">关闭</span>

                        </button>
                         <h4 class="modal-title">取回</h4>

                    </div>
                    <div class="modal-body">
                        <div class="modal-content">
                            <div class="row">
                                <div class="col-xs-5">
                                    <div class="input-control has-icon-left">
                                        <input type="text" class="form-control" placeholder="用户名" v-model="str">
                                        <label for="inputAccountExample1" class="input-control-icon-left"><i class="icon icon-user "></i>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-xs-5">
                                    <div class="input-control has-icon-right">
                                        <input type="password" class="form-control" placeholder="密码，此处密码要和手机版私密笔记中设定的密码一致才能成功解密" v-model="pwd">
                                        <label for="inputPasswordExample1" class="input-control-icon-right"><i class="icon icon-key"></i>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="state" style="padding:10px;">
                        <div id="state11"></div>
                        <!--显示是由有这个文件-->
                        <div id="state22"></div>
                        <!--显示文件名是否存在-->
                        <div id="state33"></div>
                        <!--显示写入状态-->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button class="btn btn-success " type="button" v-on:click="btnTake" data-dismiss="modal">取回</button>
                    </div>
                </div>
            </div>
        </div>
       
        <!-- 添加笔记HTML -->
        <div class="modal fade" id="custom-add_2">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">关闭</span>

                        </button>
                         <h4 class="modal-title">添加笔记</h4>

                    </div>
                    <div class="modal-body">
                        <div class="modal-content">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="input-control has-icon-left">
                                        <input type="text" class="form-control" placeholder="标题" v-model="title">
                                        <label for="inputAccountExample1" class="input-control-icon-left"><i class="icon icon-header "></i>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-xs-12">
                                    <textarea class="form-control" rows="3" placeholder="可以输入多行文本" v-model="content"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button class="btn btn-success " type="button" v-on:click="btnAddS" data-dismiss="modal">添加</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 编辑笔记HTML -->
        <div class="modal fade" id="custom-edit">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">关闭</span>

                        </button>
                         <h4 class="modal-title">编辑</h4>

                    </div>
                    <div class="modal-body">
                        <div class="modal-content">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="input-control has-icon-left">
                                        <input type="text" class="form-control" placeholder="标题" v-model="title">
                                        <label for="inputAccountExample1" class="input-control-icon-left"><i class="icon icon-header "></i>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-xs-12">
                                    <textarea class="form-control" rows="3" placeholder="可以输入多行文本" v-model="content"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button class="btn btn-success " type="button" v-on:click="btnEdit" data-dismiss="modal">确定修改</button>
                    </div>
                </div>
            </div>
        </div>
        <!--对话框结束-->
        <script>
        
        var global_pwd="";
        var vm_add = new Vue({
            el: "#custom-add_2",
            data: {
                content: "",
                title: ""
            },
            methods: {
                __save: function () {
                    //保存文件的逻辑
                    console.log(vm3.$data.filename);
                    var outParam={
                          data:  vm_lists.$data.rawitems,
                          pwd: XXTEA.encryptToBase64(global_pwd,global_pwd) 
                        };
                    $.post("../setPbook.php", {
                        content: JSON.stringify(outParam),
                        filename: vm3.$data.filename
                    }, function (result) {
                        //调用保存的POST页面
                        //直接将vm_lists.$data.rawitems中的内容字符串化后写入
                        //添加的时候顺便将加密的字符串写入vm_lists.$data.rawitems中的内容字符串化后写入
                        /*
                            data:[],
                            pwd:xxx
                        
                        */
                        console.log(vm3.$data.pwd);
                        console.log(result);
                        
                    });
                },
                    btnAddS: function () {
                    console.log("btnAdd has been clicked!");
                    //1.准备title和content,然后分别用xxtea加密以后存入rawitems和items中
                    var conten2 = XXTEA.encryptToBase64(this.content, global_pwd);
                    var title2 = XXTEA.encryptToBase64(this.title, global_pwd);
                    var pnew = {
                        id: vm_lists.$data.items.length,
                        title: this.title,
                        content: this.content
                    };
                    var pnewEncrypt = {
                        //id: vm_lists.$data.items.length,
                        title: title2,
                        content: conten2
                    }
                    vm_lists.$data.items.push(pnew);
                    vm_lists.$data.rawitems.push(pnewEncrypt);
                    this.__save();
                    //aconsole.log(vm_lists.$data.items)
                    //console.log(vm_lists.$data.items.length);

                }
                }
            });
        var vm2 = new Vue({
            el: "#custom-pop",
            data: {
                content: "",
                str: "",
                pwd: ""
            },
            methods: {
                clean: function () {
                    $("#state1").html("");
                    $("#state2").html("");
                    $("#state3").html("");
                },
                btnSubmitAndCheck: function () {
                    //全程用AJAX和后台通信，所有发送的数据都可以在F12的network中查看到发送的数据
                    //Step1:用xxtea和密码加密用户名作为文件名
                    var filename = (XXTEA.encryptToBase64(this.str, global_pwd));
                    global_pwd=this.pwd;
                    //Step2:JQ检查在pbook文件夹下是否有这个文件
                    $("#state1").text("加密密文为:" + XXTEA.encryptToBase64(this.str, global_pwd));
                    $.post("../isExist.php", {
                        filename: filename
                    }, function (result) {
                        $("#state2").html(result);
                        //判断逻辑，如果存在，让用户判断是否覆盖
                        if (result.indexOf("不") == -1) { //文件存在就提示
                            bootbox.confirm({
                                message: "笔记已经存在，确认覆盖吗？",
                                buttons: {
                                    confirm: {
                                        label: '确认覆盖',
                                        className: 'btn-success'
                                    },
                                    cancel: {
                                        label: '取消，不覆盖',
                                        className: 'btn-danger'
                                    }
                                },
                                callback: function (result) {
                                    console.log('This was logged in the callback: ' + result);
                                    if (result == true) {
                                        //覆盖文件的逻辑
                                        //Step3:直接传送密文，手机上的密码本【明文反而会解密出错】
                                        $.post("../setPbook.php", {
                                            filename: filename,
                                            content: $("#areaTEXT").val()
                                        }, function (result) {
                                            $("#state33").html(result);
                                        });
                                    }
                                }
                            });
                        }

                    });

                }
            }
        })


         var vm3 = new Vue({
            el: "#takepwd",
            data: {
                state: "false", //相当于‘登录’状态
                str: "",
                pwd: "",
                filename: ""
            },
            methods: {
                btnTake: function () { //取回按钮的逻辑
                    //取回后由zui的localstorage对象保存，实现本地储存
                    //Step1:打开用密码加密用户名组成的文件名，看是否有文件存在
                    global_pwd=this.pwd;
                    console.log("pwd:"+this.pwd);
                    var filename = (XXTEA.encryptToBase64(this.str, global_pwd));
                    this.filename = filename; //更新文件名
                    $.post("../isExist.php", {
                        filename: filename
                    }, function (result) {
                        $("#state11").html(result);
                        if (result.indexOf("不") != -1) { //文件不存在就提示
                            $("#state22").html("文件不存在，取回失败，请检查用户名和密码");
                        } else {
                            //存在就取回密文，用密码解密
                            $("#state22").html("文件存在，正在取回...");
                            $.post("../gotPbook.php", {
                                filename: filename
                            }, function (result) {
                                $("#state33").html("取回成功 ");
                                var obj = JSON.parse(result).data; //解析JSON字符串
                                vm_lists.$data.rawitems = eval(JSON.stringify(obj)); //保存未解密的字符串
                                $.zui.store.set('data', obj); //将取回的笔记存在data字段中
                                $.zui.store.set('pwd', global_pwd); //存入密码，下次解密
                                //遍历json数组时，这么写p为索引，0,1
                                for (var i in obj) {
                                    console.log("doing..");
                                    obj[i]["id"] = i;
                                    obj[i]["title"] = XXTEA.decryptFromBase64(obj[i]["title"],global_pwd);
                                    obj[i]["content"] = XXTEA.decryptFromBase64(obj[i]["content"], global_pwd);
                                    //console.log(obj[i]);
                                }
                                vm_lists.$data.items = eval(JSON.stringify(obj));
                                //console.log(JSON.stringify(obj.data));
                            });
                            $("#defaultPage").animate({
                                height: 'hide',
                            }, 'slow');
                            $("#content").animate({
                                height: 'show'
                            }, 'slow');
                            $("#banner").animate({
                                height: 'hide',maxHeight:"",padding:"",margin:""
                            }, 'slow');
                        }
                    });
                }
            }
        })
        
        var vm_banner=new Vue({
            el:"#banner",
            data:{
                number:""
            }
        })
        $.post("../getCount.php",{},function(result){
            vm_banner.$data.number=result;
        })
        var vm_del=new Vue({
            el:"#winDel",
            data:{
                title:"",
                id:""
            },
            methods:{
                btnDel:function(){
                    console.log(this.id);
                    vm_lists.$data.items.splice(this.id,1);
                    vm_lists.$data.rawitems.splice(this.id,1);
                    vm_add.__save();//删除后写入文件
                }
            }
        })
         var vm_lists = new Vue({ //绑定列表
            el: "#items",
            data: {
                items: "",
                rawitems: ""
            },
            methods: {
                adds: function () {
                    console.log("添加");
                },
                pEdit:function(id){
                    console.log(id);
                    vm_win_edit.$data.title=vm_lists.$data.items[id].title;
                    vm_win_edit.$data.content=vm_lists.$data.items[id].content;
                    vm_win_edit.$data.id=id;
                    
                },
                pDel:function(id){
                    vm_del.$data.title=vm_lists.$data.items[id].title;
                    vm_del.$data.id=id;//更新删除窗口的信息
                }
            }
        })
        
        vm_win_edit=new Vue({
            el:"#custom-edit",
            data:{
                 title:"",
                 content:"",
                 id:""
            },
            methods:{
                btnEdit:function(){
                    vm_lists.$data.items[this.id].title=this.title;
                    vm_lists.$data.items[this.id].content=this.content;
                    
                    var conten2 = XXTEA.encryptToBase64(this.content, global_pwd);
                    var title2 = XXTEA.encryptToBase64(this.title, global_pwd);

                    vm_lists.$data.rawitems[this.id].title=title2;
                    vm_lists.$data.rawitems[this.id].content=conten2;
                    
                    $('#custom-edit').modal('toggle', '');
                    vm_add.__save();
                }
            }
        })
        </script>
    </body>

</html>